---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ReactCard from '../components/ReactCard';
import VueCard from '../components/VueCard.vue';
import SvelteCard from '../components/SvelteCard.svelte';

const data = [
	{
		"nama": "Lutfi Ikbal Majid",
		"id": 1
	},
	{
		"nama": "Ahlan Safea",
		"id": 2
	},
	{
		"nama": "Adam Nugraga",
		"id": 3
	}
]
---

<Layout title="Welcome to Astro.">
	<main class="mx-10 mt-5">
		{
			data.map((item) => (
				<h1>{item.nama}</h1>
			))
		}
		<div class="mt-5 bg-blue-300 flex flex-col items-center p-12 rounded">
			<h1>This is React</h1>
			<ReactCard client:visible />
		</div>
		<div class="mt-5 bg-blue-300 flex flex-col items-center p-12 rounded">
			<h1>This is Vue</h1>
			<VueCard client:load />
		</div>
		<div class="mt-5 bg-blue-300 flex flex-col items-center p-12 rounded">
			<h1>This is Svelte</h1>
			<SvelteCard client:load />
		</div>
	</main>
</Layout>