---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const data = [
	{
		"nama": "Lutfi Ikbal Majid",
		"id": 1
	},
	{
		"nama": "Ahlan Safea",
		"id": 2
	},
	{
		"nama": "Adam Nugraga",
		"id": 3
	}
]
---

<Layout title="Welcome to Astro.">
	{
		data.map((item) => (
			<h1>{item.nama}</h1>
		))
	}
</Layout>