---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ReactCard from '../components/ReactCard';

const data = [
	{
		"nama": "Lutfi Ikbal Majid",
		"id": 1
	},
	{
		"nama": "Ahlan Safea",
		"id": 2
	},
	{
		"nama": "Adam Nugraga",
		"id": 3
	}
]
---

<Layout title="Welcome to Astro.">
	<main class="mx-10 mt-5">
		{
			data.map((item) => (
				<h1>{item.nama}</h1>
			))
		}
		<ReactCard client:visible />
	</main>
</Layout>