---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="list-none flex p-0.5 bg-white bg-[linear-gradient(45deg,_rgb(var(--accent)),_#da62c4_30%,_white_60%)] bg-size-400 bg-[right_center] transition-all duration-600 ease-[cubic-bezier(0.22,_1,_0.36,_1)] shadow-[0_4px_6px_-1px_rgba(0,_0,_0,_0.1),_0_2px_4px_-2px_rgba(0,_0,_0,_0.1)] rounded-md">
	<a href={href} class="w-full no-underline leading-[1.4] p-4 rounded-md text-gray-900 bg-white opacity-80">
		<h2 class="text-xl font-bold transition-colors duration-600 ease-[cubic-bezier(0.22,_1,_0.36,_1)]">
			{title}
			<span class="ml-1">&rarr;</span>
		</h2>
		<p class="mt-1 text-gray-700">
			{body}
		</p>
	</a>
</li>

<style>
	.link-card:hover,
	.link-card:focus-within {
		@apply bg-[left_center];
	}

	.link-card:hover h2,
	.link-card:focus-within h2 {
		color: rgb(var(--accent));
	}
</style>
